<div class="boxSidebar__item boxSidebar__weatherWidget" style="background-image: url(../public/img/article_img/belgrade.png);">
	<span class="boxSidebar__temperature">20°</span>
	<p class="boxSidebar__city">Belgrade</p>
	<p class="boxSidebar__desc">Sunny</p>
</div>