.article
  min-height: 100vh
  +sm
    border: 2vw solid #222
  +lg
    border-width: 3vw
  &__sidenav
    position: fixed
    top: 3vw
    left: 3vw
    padding: 3vw
    +lg
      max-width: 25vw
      min-width: 20vw
  &__topnav
    height: 42px
    position: fixed
    top: 0
    transition: top 0.2s ease-in-out
    width: 100%
    z-index: 99999
    +sm
    &--hidden
      top: -72px

  &__wrapper
    margin: 0 auto
    padding: 3vw
    max-width: 900px
    +lg
      max-width: 60vw
    +xlg
      max-width: 900px
  &__logo
    display: block
    margin-bottom: 2rem 
    img
      max-width: 150px
      +md
        width: 80%
      +lg
        width: 50%
  &__image
    display: block
    margin: -3vw -3vw 0 -3vw
    +md
      margin: 0 -1vw
    +lg
      margin: 0
  &__header
    h1
      font-weight: 600
      line-height: 120%
      margin-bottom: 0
    .articleList__metadata
      margin: 20px 0
  &__body
    p
      font-size: 1.8rem
      line-height: 160%
    a
      color: #0080FF