.button
  font-size: 1.4rem
  line-height: 3em;
  color: $colorWhite
  text-transform: uppercase
  padding: 0 20px
  border-radius: 2px
  background-color: #0080FF
  &[disabled]
    opacity: .3
  &:hover
    color: $colorWhite
    background-color: #1A8CFF
    text-decoration: none
  @media (min-width: 1480px)
    font-size: 1.6rem
  &--small
    font-size: 1.2rem
    line-height: 2.4em
    @media (min-width: 1480px)
      font-size: 1.4rem
  &--grey
    background: #888888
    &:hover
      background: #999999
  &--personalize
    display: inline-block
    margin-top: 80px
    margin-left: 30px
    margin-bottom: 10px
    opacity: 0
    +sm
      margin-top: 0px
      opacity: 1
  &--back
    display: inline-block
    font-weight: 600
    background: #0080FF url(../img/back_arrow.svg) .8em center no-repeat
    background-size: .6em
    padding-left: 2em
    padding-right: 15px
    margin-top: 10px
    margin-left: 10px
    &:hover
      background-position: .6em center
    +sm
      margin-top: 30px